/* SignUp.module.css */

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .authFormWrapper {
    width: 100%;
    max-width: 500px;
    padding: 40px;
  }
